body{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-content: center;
}
.header{
    margin: auto;
    
}
.headerpost{
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 10px;
}

.post{
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}
.cardpost{
    width: 500px;
    border: solid black 1px;    
    /* align-content: center; */
    margin: 5px;
    background-color: rgb(242, 239, 239);
}
.imagin img{
    width: 100%;
}
.footer p{
    padding: 5px;
}
